<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-agenda</title>
  <script type="module" src="../../../dist/index.js" defer></script>
  <script type="module" src="../../../dist/tarefa/controller/tarefa.listagem.js" defer></script>
</head>

<body class="container-fluid">
  <main class="row min-vh-100">
    <my-header class="col-md-3 col-xl-2 d-flex p-0"></my-header>
    <section class="col p-md-5">
      <div class="d-flex justify-content-between">
        <h1 class="h1">Tarefas</h1>
        
        <a id="cadastrar-link" href="[link_cadastro]" class="btn btn-primary px-5">
          Cadastrar
        </a>
      </div>
      <hr>
      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <table class="table">
         <!-- [thead]
              [tbody] -->
        </table>
      </div>
    </section>
  </main>
</body>

</html>